



 * {
   box-sizing: border-box;
 }

 /* Style the body */
 body {
   font-family: 'Sarala', sans-serif;
   margin: 0;
 }

 /* Header/logo Title */
 .header {
   padding: 20px;
   text-align: center;
   background: #e2dced;
   color: white;
 }

 /* Increase the font size of the heading */
 .header h1 {
   font-size: 40px;
 }

 /* indent p text - about me */
 div.p2 {
   text-indent: 50px;
 }


 /* Style the top navigation bar */
 .navbar {
   overflow: hidden;
   background-color: #706f6f;
 }

 /* Style the navigation bar links */
 .navbar a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 5px 20px;
   text-decoration: none;
 }

 /* Right-aligned link */
 .navbar a.right {
   float: right;
 }

 /* Change color on hover */
 .navbar a:hover {
   background-color: #e2dced;
   color: black;
 }

 /* Column container */
 .row {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
 }

 /* Create two unequal columns that sits next to each other */
 /* Sidebar/left column */
 .side {
   -ms-flex: 30%; /* IE10 */
   flex: 30%;
   background-color: #f1f1f1;
   padding: 20px;
 }

 /* Main column */
 .main {
   -ms-flex: 70%; /* IE10 */
   flex: 70%;
   background-color: white;
   padding: 20px;
 }

 /* Fake image, just for this example */
 .img {
   width: 100%;
   padding: 20px;
 }

/*for profile pic, defines the class "center"*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 /* Footer */
 .footer {
   padding: 20px;
   text-align: center;
   background: #ddd;
 }

 /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 700px) {
   .row {
     flex-direction: column;
   }
 }

 /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
 @media screen and (max-width: 400px) {
   .navbar a {
     float: none;
     width: 100%;
   }
 }






/* image with box and caption - clean */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
