



 * {
   box-sizing: border-box;
 }

 /* Style the body */
 body {
   font-family: 'Sarala', sans-serif;
   margin: 0;
 }

 /* Header/logo Title */
 .header {
   padding: 20px;
   text-align: center;
   background: #e2dced;
   color: white;
 }

 /* Increase the font size of the heading */
 .header h1 {
   font-size: 40px;
 }

 /* indent p text - about me */
 div.p2 {
   text-indent: 50px;
 }


 /* Style the top navigation bar */
 .navbar {
   overflow: hidden;
   background-color: #706f6f;
 }

 /* Style the navigation bar links */
 .navbar a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 5px 20px;
   text-decoration: none;
 }

 /* Right-aligned link */
 .navbar a.right {
   float: right;
 }

 /* Change color on hover */
 .navbar a:hover {
   background-color: #e2dced;
   color: black;
 }

 /* Column container */
 .row {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
 }

 /* Create two unequal columns that sits next to each other */
 /* Sidebar/left column */
 .side {
   -ms-flex: 30%; /* IE10 */
   flex: 30%;
   background-color: #f1f1f1;
   padding: 20px;
 }

 /* Main column */
 .main {
   -ms-flex: 70%; /* IE10 */
   flex: 70%;
   background-color: white;
   padding: 20px;
 }

 /* Fake image, just for this example */
 .img {
   width: 100%;
   padding: 20px;
 }

/*for profile pic, defines the class "center"*/
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

 /* Footer */
 .footer {
   padding: 20px;
   text-align: center;
   background: #ddd;
 }

 /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
 @media screen and (max-width: 700px) {
   .row {
     flex-direction: column;
   }
 }

 /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
 @media screen and (max-width: 400px) {
   .navbar a {
     float: none;
     width: 100%;
   }
 }








  /* <!-- Photo Grid --> */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


/* .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */



/* hover over image for description code */

.container {
  position: relative;
  /* width: 50%; */
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 16px;
  padding: 2px;
}
